@use '../scss/mixins';
@import '../scss/_defs';

:host {
  @include mixins.transition(background-color, border);

  background-color: var(--white);
  border: 1px solid var(--grey-900);
  border-radius: 36px;
  cursor: pointer;
  display: block;
  max-height: 36px;
  min-height: 36px;
  // overflow: hidden;

  &:hover {
    border: 1px solid var(--white);
  }

  .button {
    @include mixins.transition(background-color, color);

    appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: 36px;
    color: var(--grey-900);
    cursor: pointer;
    line-height: 0;
    max-height: 36px;
    min-height: 36px;
    padding-inline: var(--spacing--top-bottom);
    width: 100%;

    &:disabled,
    &:hover {
      color: var(--white);
    }

    &:disabled {
      background-color: var(--grey-200);
    }

    &:hover {
      background-color: var(--grey-900);
    }

    &--hidden {
      visibility: collapse;
      display: none;
    }
  }
}