@use 'mixins';
@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&?family=IBM+Plex+Sans:400,500,700&family=IBM+Plex+Mono&swap=true');

$black: hsl(0, 2%, 8%);
$black-transparent: hsla(0, 2%, 8%, 0.6);
$grey-50: hsl(0, 2%, 98%);
$grey-200: hsl(0, 2%, 87%);
$grey-600: hsl(0, 2%, 39%);
$grey-900: hsl(0, 2%, 13%);
$white: hsl(0, 0%, 100%);
$white-transparent: hsla(0, 0%, 100%, 0.6);

$color_keys: (
  '50': 90%,
  '200': 80%,
  '600': 50%,
  '900': 10%,
);

$red: hsl(349, 87%, 62%);
$red-50: hsl(349, 87%, map.get($color_keys, '50'));
$red-200: hsl(349, 87%, map.get($color_keys, '200'));
$red-600: hsl(349, 87%, map.get($color_keys, '600'));
$red-900: hsl(349, 87%, map.get($color_keys, '900'));

// $yellow: hsl(50, 89%, 53%);
$yellow: hsl(45, 89%, 53%);
$yellow-50: hsl(50, 89%, map.get($color_keys, '50'));
$yellow-200: hsl(50, 89%, map.get($color_keys, '200'));
$yellow-600: hsl(45, 89%, map.get($color_keys, '600'));
$yellow-900: hsl(45, 89%, map.get($color_keys, '900'));

$green: hsl(62, 96%, 33%);
$green-50: hsl(62, 96%, map.get($color_keys, '50'));
$green-200: hsl(62, 96%, map.get($color_keys, '200'));
$green-600: hsl(62, 96%, map.get($color_keys, '600'));
$green-900: hsl(62, 96%, map.get($color_keys, '900'));

$blue: hsl(259, 94%, 28%);
// $blue: hsl(253, 97%, 23%);
$blue-50: hsl(259, 94%, map.get($color_keys, '50'));
$blue-200: hsl(259, 94%, map.get($color_keys, '200'));
$blue-600: hsl(253, 97%, map.get($color_keys, '600'));
$blue-900: hsl(253, 97%, map.get($color_keys, '900'));

$pink: hsl(321, 75%, 43%);
$pink-50: hsl(321, 75%, map.get($color_keys, '50'));
$pink-200: hsl(321, 75%, map.get($color_keys, '200'));
$pink-600: hsl(321, 75%, map.get($color_keys, '600'));
$pink-900: hsl(321, 75%, map.get($color_keys, '900'));

// Breakpoints
$screen-s: '400px';
$screen-m: '768px';
$screen-l: '1280px';
$screen-xl: '1680px';

:root,
:host {
  --black: #{$black};
  --black-overlay: #{$black-transparent};
  --grey-50: #{$grey-50};
  --grey-200: #{$grey-200};
  --grey-600: #{$grey-600};
  --grey-900: #{$grey-900};
  --white: #{$white};
  --white-overlay: #{$white-transparent};

  --red-50: #{$red-50};
  --red-200: #{$red-200};
  --red-600: #{$red-600};
  --red-900: #{$red-900};

  --yellow-50: #{$yellow-50};
  --yellow-200: #{$yellow-200};
  --yellow-600: #{$yellow-600};
  --yellow-900: #{$yellow-900};

  --green-50: #{$green-50};
  --green-200: #{$green-200};
  --green-600: #{$green-600};
  --green-900: #{$green-900};

  --blue-50: #{$blue-50};
  --blue-200: #{$blue-200};
  --blue-600: #{$blue-600};
  --blue-900: #{$blue-900};

  --pink-50: #{$pink-50};
  --pink-200: #{$pink-200};
  --pink-600: #{$pink-600};
  --pink-900: #{$pink-900};

  --border-radius: 8px;
  --font-family--body: 'IBM Plex Sans', sans-serif;
  --font-family--code: 'IBM Plex Mono', monospace;
  --font-family--display: 'IBM Plex Sans', sans-serif;
  --font-size--sm: 9px;
  --font-size--md: 14px;
  --font-size--lg: 18px;
  --font-size--xl: 36px;
  --gap: 1ch;
  --line-height: 1.2em;
  --mix-blend-mode: multiply;
  --spacing--left-right: 24px;
  --spacing--top-bottom: 14px;
  --transition-ms: 100ms;
  --transition-easing: ease-in-out;

  @include mixins.dark-theme {
    --black: #{$white};
    --black-overlay: #{$white-transparent};
    --grey-50: #{$grey-900};
    --grey-200: #{$grey-600};
    --grey-600: #{$grey-200};
    --grey-900: #{$grey-50};
    --white: #{$black};
    --white-overlay: #{$black-transparent};

    --red-50: #{$red-900};
    --red-200: #{$red-600};
    --red-600: #{$red-200};
    --red-900: #{$red-50};

    --yellow-50: #{$yellow-900};
    --yellow-200: #{$yellow-600};
    --yellow-600: #{$yellow-200};
    --yellow-900: #{$yellow-50};

    --green-50: #{$green-900};
    --green-200: #{$green-600};
    --green-600: #{$green-200};
    --green-900: #{$green-50};

    --blue-50: #{$blue-900};
    --blue-200: #{$blue-600};
    --blue-600: #{$blue-200};
    --blue-900: #{$blue-50};

    --pink-50: #{$pink-900};
    --pink-200: #{$pink-600};
    --pink-600: #{$pink-200};
    --pink-900: #{$pink-50};

    --mix-blend-mode: hard-light;
  }
}
