@use '../scss/mixins';

// TODO: Create a debug component. #overkill.
.debug {
  @include mixins.transition(opacity, visibility);

  align-content: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--black);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family--code);
  font-size: var(--font-size--md);
  gap: var(--gap);
  height: auto;
  justify-content: space-between;
  opacity: 0;
  padding: var(--spacing--top-bottom);
  position: fixed;
  right: 0;
  top: calc(36px + calc(var(--spacing--top-bottom) * 2));
  visibility: collapse;
  width: 100%;
  z-index: 1000;

  &--open {
    opacity: 1;
    visibility: visible;
  }

  &-input {
    display: flex;
    gap: var(--gap);
    justify-content: space-between;

    &__action {
      min-width: 8ch;
    }

    &__input {
      width: 100%;
    }
  }
}