@import '_defs';

chat-message {
  :first-child {
    margin: 0 !important;
  }
}

.chat-message {
  &__a {
    color: var(--blue-600);
    opacity: 1;
    text-decoration: none;
  }

  &__h1,
  &__h2,
  &__h3,
  &__h4,
  &__h5,
  &__h6,
  &__p {
    font-size: inherit !important;
    font-weight: normal !important;
    line-height: var(--line-height);
    margin: 1em 0 0 !important;
    padding: 0 !important;

    .material-symbols-outlined {
      font-size: inherit;
      transform: translateY(0.25em);
    }
  }

  &__i {
    background-color: var(--grey-100);
    border-radius: 1em;
    font-weight: normal;
    padding: 0.05em 1ch;
    white-space: nowrap;
  }

  &__img {
    border-radius: 4px;
    margin-block: var(--spacing--top-bottom);
    width: 100%;
  }

  &__li {
    line-height: var(--line-height);
    margin: 1em 0 0 !important;
    padding: 0;
    // text-indent: -1.3em;

    // &:before {
    //   content: '\2014\00A0';
    // }
  }

  &__mention {
    background-color: var(--black);
    border-radius: 1em;
    color: var(--white);
    padding: 0.05em 1ch;
    white-space: nowrap;
  }

  &__ul {
    // list-style: none;
    margin-inline: 0;
    padding-inline: 1em 0;
  }
}

#mode {
  border: 0;
}

