{% extends 'src/client/templates/base.njk' %}
{% import 'src/client/templates/chat-macros.njk' as chat %}

{% set title = "Writers\' Room" %}
{% set body_class = 'chat-container' %}

{% block body %}
  <header>
    <div class="header-personas">
      <!-- ABOUT -->
      <button-debounce class="header-debug tooltip--bottom" data-tooltip="WTF" onclick="window.history.pushState(null,null,'/about');location.href='/about';">
        <span class="material-symbols-outlined">info</span>
      </button-debounce>

      <!-- PERSONAS -->
      {# TODO: Pass persona names through server (template data object). #}
      {% for name in ['janet', 'marge', 'rita'] %}
        <div class="tooltip--bottom" data-tooltip="{{ name | title }}">
          <a href="/about#{{ name }}">
            <div class="header-personas__image" style="background-image: url(/avatars/{{ name }});"></div>
          </a>
        </div>
      {% endfor %}
    </div>

    <div class="header-controls">
      <!-- MODE -->
      <toggle-switch id="mode" class="tooltip--bottom" data-tooltip="Single or group responses">
        <span slot="off"><span class="material-symbols-outlined">person</span></span>
        <span slot="on"><span class="material-symbols-outlined">groups</span></span>
      </toggle-switch>

      <!-- DEBUG -->
      <button-debounce class="header-debug tooltip--bottom" data-tooltip="Debug panel" onclick="document.querySelector('#debug').classList.toggle('debug--open');">
        <span class="material-symbols-outlined">bug_report</span>
      </button-debounce>
      <div id="debug" class="debug">
        {% for name in ['janet', 'marge', 'rita'] %}
          <div class="debug-input">
            <input-text id="prompt-{{ name }}" class="debug-input__input"></input-text>
            <button-debounce id="ask-{{ name }}" class="debug-input__action">{{ name | title }}</button-debounce>
          </div>
        {% endfor %}
      </div>
    </div>
  </header>

  <footer>
    <input-text id="prompt"></input-text>
    <button-debounce id="ask">
      <span class="material-symbols-outlined">send</span>
    </button-debounce>
  </footer>
{% endblock %}